[submodule "doubtfire-web"]
	path = doubtfire-web
	url = https://github.com/doubtfire-lms/doubtfire-web.git
[submodule "doubtfire-api"]
	path = doubtfire-api
	url = https://github.com/doubtfire-lms/doubtfire-api.git
[submodule "bunny-pub-sub"]
	path = bunny-pub-sub
	url = https://github.com/doubtfire-lms/bunny-pub-sub.git
[submodule "overseer"]
	path = overseer
	url = https://github.com/doubtfire-lms/overseer.git
